.btnHover:hover {
  transform: scale(1.25);
}

.bookingFont {
  font-family: "Roboto";
}

.headingLeft {
  margin-top: 90px;
}

.screen {
  width: 80%;
  height: 10px;
}

.screenLight {
  border-bottom: 40px solid gray;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  height: 0;
  width: 80%;
  opacity: 0.4;
  filter: drop-shadow(0px 128px 63px rgba(8, 8, 8, 0.38));
}

.emptySeat {
  border: none !important;
  width: 35px;
  height: 35px;
  margin: 0.7rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(233, 233, 233);
}
@media screen and (max-width: 1399.98px) {
  .emptySeat {
    font-size: 1.2rem;
    margin: 0.9rem;
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 991.98px) {
  .emptySeat {
    font-size: 14px;
    margin: 0.6rem;
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 820px) {
  .emptySeat {
    font-size: 13px;
    margin: 0.45rem;
    width: 28px;
    height: 28px;
  }
}
@media screen and (max-width: 767.98px) {
  .emptySeat {
    font-size: 12px;
    margin: 0.35rem;
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 575.98px) {
  .emptySeat {
    font-size: 11px;
    margin: 0.2rem;
    width: 21px;
    height: 21px;
  }
}
@media screen and (max-width: 412px) {
  .emptySeat {
    font-size: 10px;
    margin: 0.1rem;
    width: 18px;
    height: 18px;
  }
}

.vipSeat {
  border: none !important;
  width: 35px;
  height: 35px;
  margin: 0.7rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(233, 233, 233);
  cursor: pointer;
  color: white;
  background-color: rgb(212, 55, 55);
}
@media screen and (max-width: 1399.98px) {
  .vipSeat {
    font-size: 1.2rem;
    margin: 0.9rem;
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 991.98px) {
  .vipSeat {
    font-size: 14px;
    margin: 0.6rem;
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 820px) {
  .vipSeat {
    font-size: 13px;
    margin: 0.45rem;
    width: 28px;
    height: 28px;
  }
}
@media screen and (max-width: 767.98px) {
  .vipSeat {
    font-size: 12px;
    margin: 0.35rem;
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 575.98px) {
  .vipSeat {
    font-size: 11px;
    margin: 0.2rem;
    width: 21px;
    height: 21px;
  }
}
@media screen and (max-width: 412px) {
  .vipSeat {
    font-size: 10px;
    margin: 0.1rem;
    width: 18px;
    height: 18px;
  }
}

.reservedSeat {
  border: none !important;
  width: 35px;
  height: 35px;
  margin: 0.7rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(233, 233, 233);
  cursor: no-drop !important;
  color: white;
  background-color: rgba(0, 0, 0, 0.7) !important;
}
@media screen and (max-width: 1399.98px) {
  .reservedSeat {
    font-size: 1.2rem;
    margin: 0.9rem;
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 991.98px) {
  .reservedSeat {
    font-size: 14px;
    margin: 0.6rem;
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 820px) {
  .reservedSeat {
    font-size: 13px;
    margin: 0.45rem;
    width: 28px;
    height: 28px;
  }
}
@media screen and (max-width: 767.98px) {
  .reservedSeat {
    font-size: 12px;
    margin: 0.35rem;
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 575.98px) {
  .reservedSeat {
    font-size: 11px;
    margin: 0.2rem;
    width: 21px;
    height: 21px;
  }
}
@media screen and (max-width: 412px) {
  .reservedSeat {
    font-size: 10px;
    margin: 0.1rem;
    width: 18px;
    height: 18px;
  }
}

.selectedSeat {
  border: none !important;
  width: 35px;
  height: 35px;
  margin: 0.7rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(233, 233, 233);
  cursor: pointer;
  color: white;
  background-color: rgb(45, 146, 45);
}
@media screen and (max-width: 1399.98px) {
  .selectedSeat {
    font-size: 1.2rem;
    margin: 0.9rem;
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 991.98px) {
  .selectedSeat {
    font-size: 14px;
    margin: 0.6rem;
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 820px) {
  .selectedSeat {
    font-size: 13px;
    margin: 0.45rem;
    width: 28px;
    height: 28px;
  }
}
@media screen and (max-width: 767.98px) {
  .selectedSeat {
    font-size: 12px;
    margin: 0.35rem;
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 575.98px) {
  .selectedSeat {
    font-size: 11px;
    margin: 0.2rem;
    width: 21px;
    height: 21px;
  }
}
@media screen and (max-width: 412px) {
  .selectedSeat {
    font-size: 10px;
    margin: 0.1rem;
    width: 18px;
    height: 18px;
  }
}

.checkoutSeat {
  border: none !important;
  width: 35px;
  height: 35px;
  margin: 0.7rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(233, 233, 233);
  cursor: no-drop !important;
  color: white;
  background-color: rgb(40, 155, 176) !important;
}
@media screen and (max-width: 1399.98px) {
  .checkoutSeat {
    font-size: 1.2rem;
    margin: 0.9rem;
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 991.98px) {
  .checkoutSeat {
    font-size: 14px;
    margin: 0.6rem;
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 820px) {
  .checkoutSeat {
    font-size: 13px;
    margin: 0.45rem;
    width: 28px;
    height: 28px;
  }
}
@media screen and (max-width: 767.98px) {
  .checkoutSeat {
    font-size: 12px;
    margin: 0.35rem;
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 575.98px) {
  .checkoutSeat {
    font-size: 11px;
    margin: 0.2rem;
    width: 21px;
    height: 21px;
  }
}
@media screen and (max-width: 412px) {
  .checkoutSeat {
    font-size: 10px;
    margin: 0.1rem;
    width: 18px;
    height: 18px;
  }
}

.tableHeading {
  font-size: 1rem;
}
@media screen and (max-width: 991.98px) {
  .tableHeading {
    font-size: 14px;
  }
}
@media screen and (max-width: 575.98px) {
  .tableHeading {
    font-size: 12px;
  }
}

.customizeRows {
  margin-left: 8.2%;
  margin-top: 15px;
}

.headingRight {
  margin-top: 70px;
}

.divBorder {
  box-shadow: 0 0 5px grey;
}

.divPadding {
  padding: 24px 16px;
}

.priceTitle {
  font-size: 30px;
  font-weight: 400;
}
@media screen and (max-width: 991.98px) {
  .priceTitle {
    font-size: 20px;
  }
}

.headingCustom {
  margin: 0;
  font-size: 17px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.167;
}
@media screen and (max-width: 991.98px) {
  .headingCustom {
    font-size: 14px;
  }
}

.textRight {
  text-align: right !important;
}

.btnCheckout {
  width: 100%;
  padding: 15px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 991.98px) {
  .btnCheckout {
    font-size: 20px;
  }
}/*# sourceMappingURL=Booking.css.map */